.about {
  margin-bottom: 40px;
}

.about-position {
  margin-bottom: 20px;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
}

.about-name {
  margin-bottom: 25px;
  color: #000000;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.22;
}

.about-description {
  width: 400px;
  color: #595959;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
