.tech-skills {
  margin-bottom: 45px;
}

.tech-list,
.soft-list {
  margin-left: 17px;
}

.tech-list .item,
.soft-list .item {
  color: #fb6d3a;
}

.tech-list .text,
.soft-list .text {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
